/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  margin-top: 10px;
  background-color: rgb(146, 236, 248);
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(153, 148, 148);
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on */
.accordion:hover,
.active {
  background-color: rgb(146, 236, 248);
}

/* Style the accordion ques */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgb(14, 12, 158);
}

/* accordion ans panel \\ hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  border: 1px solid rgb(153, 148, 148);
  border-top: none;
}

/* accordion ans text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 26px;
}
